.rebound {
    width: 100%;
    height: 100%;
    position: relative;
    .dragonfly {
        width: 200px;
        height: 200px;
        background: #bae7ff;
        transition: all 0s;
        position: absolute;
        left: 0;
        top: 0;
    }
}
