.homeUnit {
    width: 100%;
    min-height: 100%;
    .giveBar {
        width: 100%;
        height: 80px;
        background: linear-gradient(180deg, #f0f7ff, #fff 37.95%, #f1f7ff 80.21%, #fdfeff 96.05%, #d4e8ff 98.75%);
        box-shadow: 0 5px 12px 2px rgba(220, 233, 252, .64);
        display: flex;
        justify-content: center;
        main {
            width: 1485px;
            min-width: 1485px;
            height: 100%;
            .logoBar {
                width: 150px;
                height: 100%;
                margin-right: 50px;
                float: left;
                background-image: url('./img/logo.png');
                background-repeat: no-repeat;
                background-size: 100% 54px;
                background-position: left center;
            }
            .navigationBar {
                width: calc(100% - 400px);
                height: 100%;
                float: left;
            }
            .userBar {
                width: 150px;
                height: 100%;
                margin-left: 50px;
                float: left;
            }
        }
    }
    .pieceBar {
        width: 100%;
        min-height: 600px;
    }
    .seabed {
        width: 100%;
        height: 160px;
        background: linear-gradient(180deg, #3a485b, #252e3d 89.29%);
    }
}
