.tabBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .rainbow {
        width: 100%;
        height: 55px;
        padding: 6px;
        border-radius: 36px;
        background: #EBF7FF;
        box-shadow: 0px 2px 7px 0px #CFE2F8 inset;
        .autumn {
            width: 100%;
            height: 100%;
            position: relative;
            ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                li {
                    width: 20%;
                    height: 100%;
                    float: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div {
                        width: 100%;
                        height: 100%;
                        color: #6C84A8;
                        font-family: PingFang SC;
                        font-size: 16px;
                        font-weight: 400;
                        border-radius: 26px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .scenery {
                width: 20%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                    width: 100%;
                    height: 100%;
                    border-radius: 26px;
                    background: radial-gradient(131.06% 113.71% at 50% -13.71%, #ABDBFD 0%, #6CC4FF 57.29%, #49B3FF 100%),
                    linear-gradient(316.76deg, rgba(173, 241, 255, 0.9) 2.89%, rgba(171, 228, 253, 0) 44.35%);
                    font-family: PingFang SC;
                    font-size: 16px;
                    font-weight: 600;
                    color: #fff;
                    transition: transform 0.3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
